$var1: #EDF2EC;
$var2: #010201;
$color-orange: #E06733;
$var4: #717171;
$color-green: #499A18;
$var6: #636060;
$var7: #000000;
$var8: #FFFFFF;
$var9: #ffffff;
$var10: #E3E1D5;
$var11: #D9D9D9;
$var12: #D6E7D2;