html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
body {
    font-family: "Inika", sans-serif;
    font-weight: 400;
    margin: 0;
    min-width: 1440px;
}
.container {
    width: 1440px;
    display: flex;
    margin: 0 auto;
}
img {
    vertical-align: top;
}

@import "blocks/header";
@import "main/variables";
@import "blocks/welcome";
@import "blocks/about";
@import "blocks/service";
@import "blocks/prices";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/media";







